<?xml version='1.0' encoding='utf-8'?>
<widget id="com.autentia.ionic.pushnotifications" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IonicPush</name>
    <description>
        Ionic / Cordova application for Push Notifications using Google Cloud Messaging.
    </description>
    <author email="marlandy@autentia.com" href="http://www.autentia.com">
        Miguel Arlandy Rodríguez
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" />
        
</widget>
